* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --hue: 194;
  --bg-color: hsl(var(--hue), 90%, 98%);
  --text-color: hsl(var(--hue), 5%, 7%);
  --cards-sounds: hsl(var(--hue), 30%, 89%);
  --primary-color: hsl(var(--hue), 10%, 63%);
  --toggle-color-mode: hsl(var(--hue), 8%, 8%);
  --color-active: hsl(var(--hue), 70%, 43%);
  --card-active: hsl(var(--hue), 70%, 43%);
  font-size: clamp(40%, 1% + 2vw, 62.5%);
}
.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  margin: -1px;
  padding: 0px;
  border: 0px;
  appearance: none;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
  display: grid;
  height: 100vh;
  place-content: center;
}
#app {
  display: flex;
  gap: 3.2rem;
  align-items: center;
}
html.dark {
  --bg-color: hsl(var(--hue), 10%, 8%);
  --text-color: hsl(var(--hue), 95%, 97%);
  --cards-sounds: hsl(var(--hue), 15%, 15%);
  --toggle-color-mode: hsl(var(--hue), 98%, 98%);
  --color-active: hsl(var(--hue), 80%, 43%);
  --card-active: hsl(var(--hue), 80%, 43%);
}
html.dark .ph-moon,
html:not(.dark) .ph-sun {
  display: none;
}
#toggle-mode {
  position: absolute;
  background-color: transparent;
  color: var(--toggle-color-mode);
  top: 3rem;
  right: 3rem;
  border: none;
  font-size: 3.2rem;
  cursor: pointer;
}

.flex {
  display: flex;
  flex-direction: column;
}

#timer {
  font-size: 9.4rem;
  font-weight: 700;
  text-align: center;
}
#controls {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
#controls button {
  border: none;
  background: transparent;
  cursor: pointer;
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 5.8rem;
}
#cards-sounds {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
#card-forest-sound,
#card-sound-of-rain,
#card-coffe-shop-sound,
#card-fireplace-sound {
  background: var(--cards-sounds);
  color: var(--text-color);
  border: none;
  border-radius: 1rem;
  padding: 3.2rem;
  text-align: center;
  font-size: 4.5rem;
  cursor: pointer;
}

/* mobile */
@media (min-width: 320px) and (max-width: 480px) {
  #app {
    flex-direction: column;
  }
  #modes-items {
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2.6rem;
  }
}
